<div class="about-block">
  <h2 class="about-block__title">Create new task</h2>
</div>
<div class="form-wrapper">
  <form class="form" (ngSubmit)="onSubmit()" #form="ngForm">
    <mat-card class="form__form-card">
      <mat-form-field class="form__input-section" appearance="outline">
        <mat-label class="form__label">Task</mat-label>
        <input matInput class="form__input" name="title" required ngModel/>
      </mat-form-field>
      <mat-form-field class="form__select-section" appearance="outline">
        <mat-label class="form__label">State</mat-label>
        <mat-select class="form__select" name="user" ngModel>
          <mat-option class="form__select-option" [value]="null">N/A</mat-option>
          <mat-option class="form__select-option" value="{{ user._id }}" *ngFor="let user of users | async">{{ user.username }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="form__btn-send" [disabled]="form.invalid" mat-raised-button type="submit" color="accent">Send</button>
      <mat-progress-bar *ngIf="loading | async" mode="indeterminate"></mat-progress-bar>
    </mat-card>
  </form>
</div>

