<div class="about-block">
  <h2 class="about-block__title">Tasks to complete</h2>
</div>

<ng-container *ngIf="loading | async else taskArea">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-template #taskArea>
  <div class="tasks-block">
    <mat-card class="tasks-block__card card" *ngFor="let task of tasks | async; let i = index">
      <div class="card__status-bar">
        <mat-card-title class="card__title">
          <span class="material-icons card__icons">person</span>
          <span class="card__title-span">name: </span>
          <select class="card__select" (change)="editTaskName(task._id, $event)">
            <option value="{{ task.user !== null? task.user._id : 'N/A' }}">{{ task.user !== null? task.user.username : 'N/A' }}</option>
            <option [value]="null" *ngIf="task.user !== null">N/A</option>
            <ng-container *ngFor="let user of users | async">
              <option [value]="user._id" *ngIf="task.user === null || task.user.username !== user.username">{{ user.username }}</option>
            </ng-container>
          </select>
        </mat-card-title>
        <mat-card-subtitle class="card__title">
          <span class="material-icons card__icons">task_alt</span>
          <span class="card__title-span">status: </span>
          <select class="card__select" (change)="editTaskStatus(task._id, $event)">
            <option value="{{ task.status}}" *ngIf="task.status">{{ task.status}}</option>
            <option value="in_progress" *ngIf="task.status !== 'in_progress'">In Progress</option>
            <option value="complete" *ngIf="task.status !== 'complete'">Complete</option>
            <option value="new" *ngIf="task.status !== 'new'">New</option>
          </select>
        </mat-card-subtitle>
      </div>
      <mat-card-content class="card__task-text my-scroll">
        <h3 class="card__task-text-title">Task</h3>
        <p class="card__text">{{ task.title }}</p>
      </mat-card-content>
      <mat-card-actions class="card__btn">
        <button class="card__btn-delete" type="button" (click)="removeTask(task._id)" mat-button><span class="material-icons">delete</span></button>
      </mat-card-actions>
        <mat-progress-bar *ngIf="isRemoveId === task._id || (loadingRemove | async)" mode="indeterminate"></mat-progress-bar>
    </mat-card>
  </div>
</ng-template>
