/* You can add global styles to this file, and also import other style files */
*
  padding: 0
  margin: 0
  border: 0

*,*:before,*:after
  box-sizing: border-box

::-webkit-scrollbar
    width: 0

html,body
  height: 100%
  width: 100%


mat-spinner
  margin: 60px auto

.sidenav-container
  height: 100%

.sidenav
  width: 200px
  box-shadow: 0 0 8px 2px white

.sidenav .mat-toolbar
  background: inherit

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1
  box-shadow: 0 0 8px 2px white

.mat-list-item:hover
  background: #7b1fa2!important

.content
  padding: 10px 15px

.icon
  font-size: 34px
  color: #303030
  @media screen and (max-width: 600px)
    font-size: 28px


.logo-block
  display: flex
  align-items: center

  &___logo-btn
    margin: 0 10px 3px 0


  &__logo-link
    font-size: 46px
    font-weight: bold
    text-decoration: none
    font-family: 'Tangerine', serif
    color: white
    padding-top: 5px
    @media screen and (max-width: 600px)
      font-size: 36px

.about-block
  text-align: center
  &__title
    font-size: 76px!important
    font-weight: bold!important
    font-style: italic!important
    font-family: 'Tangerine', serif!important
    letter-spacing: 1.5px!important
    margin: 50px 0 0!important
    text-shadow: 5px 5px 7px #7b1fa2
    @media screen and (max-width: 900px)
      font-size: 56px!important

.tasks-block
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding: 80px 0

.card
  width: 400px
  padding: 0 !important
  border: 2px solid gray
  margin: 10px
  border-radius: 5%!important
  &:hover
    box-shadow: 0 0 10px 3px #fff

  &__status-bar
    display: flex
    flex-direction: column
    padding: 20px 10px 0
    background: #7b1fa2
    border-radius: 20px 20px 0 0


  &__title
    display: flex!important
    flex-wrap: wrap
    align-items: center
    font-size: 14px
    color: white
    margin-bottom: 23px!important
    @media screen and (max-width: 600px)
      font-size: 24px

  &__title-span
    text-transform: uppercase
    font-size: 26px
    font-style: italic
    font-weight: bold
    color: white
    margin-right: 30px
    @media screen and (max-width: 600px)
      font-size: 24px

  &__select
    font-size: 20px
    padding: 5px 7px 2px
    border-radius: 5px
    border: 1px solid white
    background: #7b1fa2
    color: white
    &:hover
      color: black
      border: 1px solid white
      box-shadow: 0 0 10px 3px #ffaa
    @media screen and (max-width: 420px)
      margin-top: 8px

  &__task-text
    text-align: center

  &__task-text-title
    font-size: 24px!important
    font-style: italic!important
    font-weight: bold!important
    padding: 10px
    border-bottom: 2px solid #7b1fa2

  &__text
    font-size: 18px
    padding: 0 10px
    height: 150px

  &__btn
    display: flex!important
    justify-content: center
    padding: 0!important
    margin: 0!important
    background: #7b1fa2
    border-radius: 0 0 20px 20px

  &__btn-delete
    margin: 10px!important
    border: 1px solid #7b1fa2!important
    &:hover
      border: 1px solid red!important
      color: red

  &__icons
    font-size: 28px
    margin-right: 5px


.my-scroll
  margin: 0!important
  overflow-y: scroll
  &::-webkit-scrollbar
    width: 0

.form-wrapper
  padding: 70px 10px

.form
  max-width: 900px
  margin: 0 auto
  @media screen and (max-width: 600px)
    width: auto
  &__form-card
    display: flex!important
    flex-direction: column
    border-radius: 15px!important
    &:hover
      box-shadow: 0 0 10px 3px white

  &__input-section
    padding: 10px

  &__label
    font-size: 18px
    font-style: italic
    font-weight: bold
    letter-spacing: 1px

  &__select-section
    padding: 10px

  &__select-option
   color: white!important

  &__btn-send
    width: 200px
    padding: 5px!important
    margin: 0 auto 20px!important
    @media screen and (max-width: 450px)
      width: 120px
      padding: 0!important
    &:hover
      box-shadow: 0 0 10px 3px #69f0ae


