<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">All Task</a>
      <a mat-list-item routerLink="create-new-task">Create new Task</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     <div class="logo-block">
       <button
         type="button"
         class="logo-block___logo-btn"
         mat-icon-button
         (click)="drawer.toggle()">
         <span class="material-icons icon">menu_open</span>
       </button>
       <a routerLink="/" class="logo-block__logo-link">Todo-List</a>
     </div>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
